@font-face {
    font-family: Quicksand;
    src: url(/font/Quicksand/Quicksand_Light.otf);
}

* {
    font-family: Quicksand;
}
main{
    margin-right: 15px;
    margin-top: 10px;
    margin-left: 20px;
}
.busqueda,.botones{
    display: flex;
    flex-direction: column;
}
.botones>[type="button"]{
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 1%;
}
.busqueda>[type="text"]{
    border-radius: 5px;
    border-color:  rgb(82, 82, 209);
    padding: 1%;
}
.busqueda>[type="text"]:invalid{
    border: 2px solid red;
}
.botonEspe{
    background-color:  rgb(82, 82, 209);
    color: white;
    border: 2px solid rgb(46, 46, 119);
}
.botones{
    margin-top: 10px;
}
header,footer{
    background-color: rgb(82, 82, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: white;
}
.oficina>.tipo{
    border-bottom: 2px solid rgb(160, 160, 226)
}
.oficina{
    padding: 20px;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.oficina>.tipo{
    margin-top: 5px;
}
.municipio>h3{
    margin-left: 2px;
    margin-top: 10px;
}
label{
    font-size: 15px;
    margin-top: 7px;
}
nav{
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
footer{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
body{
    background-color: rgb(209, 230, 236);
    display: flex;
    flex-direction: column;
}
html,body{
    height: 100%;
    margin: 0;
}
h2{
    border-bottom: 2px solid rgb(82, 82, 209);
}
img{
    width: 30%;
}

@media (min-width: 600px){/**Tablet*/
    .oficinas{
        display: flex;
        flex-wrap: wrap;
    }
    .oficina{
        margin: 10px;
        flex: 1 1 300px;
    }
    .botones>[type="button"]{
        flex-basis: 100%;
    }
    .botones{
        flex-direction: row;
        gap: 10px;
    }
}

@media (min-width: 1000px){/**Escritorio (Grid)*/
    body{
        display: grid;
        grid-template-areas: "head head head"
                             "menu main main"
                             "foot foot foot";
    }
    header{
        grid-area: head;
    }
    nav{
        grid-area: menu;
        padding: 30px;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: foot;
    }
    header,footer{
        height: 100px;
    }
    img{
        width: 20%;
    }
    .botones{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .busqueda>[type="text"],.botones>[type="button"]{
        padding: 4%;
    }
    .oficina{
        max-width: 300px;
    }
}
